body{
background:url(http://fc05.deviantart.net/fs70/f/2012/124/8/4/pirate_of_the_caribbean_skull_by_djreko-d4yhris.jpg) no-repeat center center fixed;
background-size:cover;
}


h1{
text-align: center;
color:#800080;
}
